PGDATA_DIR=/srv/pgsql-ha/postgresql
ETCD_PKI_DIR=/etc/pgsql-ha/etcd-pki
POSTGRES_SUPERUSER_PASSWORD=CHANGE_ME_POSTGRES_SUPERUSER_PASSWORD
POSTGRES_REPLICATION_PASSWORD=CHANGE_ME_POSTGRES_REPLICATION_PASSWORD
APP_PASSWORD=CHANGE_ME_APPLICATION_PASSWORD
