NODE_IP=192.168.50.12
ETCD_NAME=etcd2
ETCD_DATA_DIR=/srv/pgsql-ha/etcd2
PGDATA_DIR=/srv/pgsql-ha/postgresql
ETCD_CLUSTER_TOKEN=CHANGE_ME_ETCD_CLUSTER_TOKEN
ETCD_INITIAL_CLUSTER=etcd1=http://192.168.50.11:2380,etcd2=http://192.168.50.12:2380,etcd3=http://192.168.50.13:2380
POSTGRES_SUPERUSER_PASSWORD=CHANGE_ME_POSTGRES_SUPERUSER_PASSWORD
POSTGRES_REPLICATION_PASSWORD=CHANGE_ME_POSTGRES_REPLICATION_PASSWORD
APP_PASSWORD=CHANGE_ME_APPLICATION_PASSWORD
